header {
background-color: rgb(245, 190, 247);
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}


h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

