


nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    

}

h1{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 40px;


}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  
}



p{
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  
}



img{
  width: 400px;
  height: 400px;
  padding-top: 50px;
}

.body-text{
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 10px;

}




h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
 text-align: center;
 padding-top: 70px;
 padding-bottom: 30px;
}

.data-chart{
  transform:scale(0.8)
}


.intro{
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 50px;

}

.image2{
  width: 400px;
  height: 400px;
  padding-top: 60px;
  margin-left: auto;
  margin-bottom: auto;
  display: block;
 
  
}


