body {
    font-family:'Times New Roman', Times, serif;
    background-color:aliceblue;
    margin-left: 20px;
    padding: 0px;

}

h1{
    color: palevioletred;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: italic;
}

h2{
    text-align: center;
font-style: italic;
}

p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}


h3{
    color: palevioletred;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-style: italic;
}
