


.navbar {
    background: linear-gradient(135deg, #87CEEB 0%, #B0E0E6 100%) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    color: #003366 !important;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #005599 !important;
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #003366 !important;
    padding: 8px 16px !important;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 0 5px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #005599 !important;
}

.nav-link.active {
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
}

.navbar-toggler {
    border-color: #003366;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 51, 102, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
    








h1{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align:center;
  padding-top: 40px;
  padding-bottom: 30px;
  font-weight: bold;



}

.subhead2 {
  font-size: 20px;
  padding-top: 3px;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: left;
  padding-top: 50px;
  font-weight: bold;
  
}




h5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  text-align: left;
  

}


p{
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: left;
    padding-top: 20px;
  
}




img{
  width: 400px;
  height: 400px;
  padding-top: 50px;
  max-width: 100%;
  
}


.body-text{
  font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 10px;

}




h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
 text-align: left;
 padding-top: 80px;
 font-weight: bold;
}

.data-chart{
  transform:scale(0.8)
}


.intro{
  font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 50px;

}

.image2{
  width: 400px;
  height: 400px;
  padding-top: 60px;
  max-width: 100%;
  margin-left: auto;
  margin-bottom: auto;
  display: block;
 
  
}

iframe{
  padding-top: 35px;
}


#datawrapper-chart-HUBj4 {
  margin-top: 110px;
  margin-right: 20px;
}



#datawrapper-chart-0DGl7{
  margin-top: 20px;
  margin-left: 18px;


}

.image1 {
  width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.image2 {
  width: 302px;
  height: auto;
  margin-top: 10px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.image3 {
  width: 300px;
  height: auto;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 20px;

}

h6{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  padding-top: 3px;
  padding-left: 10px;

}


.map-text {
  font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-top: 9px;
    text-align: left;
    padding-left: 10px;

}

.image4 {
  width: 700px;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  padding-top: 85px;

}



.media-text {
  font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    padding-top: 0px;
    text-align: left;

}

.key-takeaways {
max-width: 700px;
margin: 30px;
text-align: left;


}




li {
  font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;

}


.source {
  font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;
    padding-left: 30px;

}



.subhead {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 10px;
  

}





