

Header {
background-color: rgb(245, 190, 247);
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
}



h1{
    color: rgb(188, 0, 106);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

p{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}


ul{

    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


h2{
    color: rgb(188, 0, 106);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

}


li{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style-position: inside;
}






