

nav{
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;

}



h1{
    color: rgb(188, 0, 106);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

p{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}


ul{

    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}


h2{
    color: rgb(188, 0, 106);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

}


li{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    list-style-position: inside;
}






